#statistics table td:nth-child(2) {
  width: 200px !important;
}
#statistics table td:nth-child(1) {
  width: 90px !important;
}

#header-panel {
  white-space: pre-line;
}

#mypanel {
  white-space: pre-line;
}
